<main>
    <h1>Register</h1>
    <form action="/auth/registration" method="post">
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="type in new email">
        </div>
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="type in new username">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="type in new password">
        </div>
        <button class="submit">Create User</button>
    </form>
</main>